.combo-box{
    -fx-opacity: 0.5;
    -fx-alignment: center;
    -fx-smooth: true;
}
.table-view{
    -fx-opacity: 0.7;
    -fx-font-size: 20px;
}
.table-view.table_column{
    -fx-text-alignment: center;
    -fx-font-size: 20px;
}
.table-view > .virtual-flow > .scroll-bar:vertical{
    -fx-background-insets: 0, 0 0 0 1;
    -fx-padding: -1 -1 -1 0;
}
.button {
    -fx-pref-width: 300px;
    -fx-pref-height: 100px;
    -fx-opacity: 0.4;
    -fx-border-radius: 3px;
    -fx-border-width: 0;
    -fx-background-color:linear-gradient(to bottom,deepskyblue,dodgerblue);
    -fx-text-fill: white;
    -fx-font-size: 40px;
}
.button:hover {
    -fx-opacity: 0.8;
    -fx-border-radius: 3px;
    -fx-border-width: 0;
    -fx-background-color: cornflowerblue;
}
.label {
    -fx-font-size: 20px;
}